*.m~
.DS_Store
amee/msg_gen/*
*.pyc
amee/src/amee
amee/build
*.*~
amee/bin/*
amee/CMakeCache.txt
amee/CMakeFiles/
amee/cmake_install.cmake
amee/Makefile
/docs/final report/*.swp
/docs/final report/*.aux
/docs/final report/*.log
/docs/final report/*.toc
/docs/final report/main.pdf
